{% extends 'main/base.html' %}
{% load static %}

{% block title %}Алкани{% endblock %}

{% block content %}
<div class="container marketing">
    <div class="p-5 mb-4 bg-light rounded-3 shadow-lg">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Алкани</h1>
        <p class="col-md-8 fs-4">Основне</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <div class="p-5 mb-4 bg-light rounded-3 shadow-lg paragraph-1 bigpost">
          <h1 class="display-4 fw-bold lh-1">Що таке алкани?</h1>
        <p><b>Алкани</b> — насичені ациклічні вуглеводні, що мають загальну формулу CnH2n+2,
            їх також називають парафінами. Більшість їх хімічних реакцій з різними реагентами
            починається з розриву зв'язку С-Н, тоді як їх розпад при високих температурах йде
            передусім по зв'язках С-С. У органічній хімії алкан, або парафін (історична назва,
            що також має інші значення), є ациклічним насиченим вуглеводнем. Іншими словами,
            алкан складається з водню та атомів вуглецю, розташованих у деревній структурі, в
            якій всі вуглець-вуглецеві зв'язки є одиничними . Алкани мають загальну хімічну
            формулу CnH2n+2. Алкани знаходяться в складності від найпростішого випадку метану,
            CH4, де n = 1 (іноді називають батьківською молекулою), до довільно великих молекул.
            Крім цього стандартного визначення Міжнародного союзу чистої та прикладної хімії,
            в деяких авторів термін «алкан» застосовується до будь-якого насиченого вуглеводню,
            включаючи ті, які є моноциклічними (тобто циклоалканами) або поліциклічними .</p>
        </div>
      </div>
        <img class="pre-rounded col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg center-img" src="{% static 'main/media/alkan2.jpg' %}" height = 450px width = 450px >
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-8 order-md-3">
        <div class="p-5 mb-4 bg-light rounded-3 shadow-lg paragraph-1 bigpost">
            <h1 class="display-4 fw-bold lh-1">Загальний опис</h1>
            <p>У алкані кожен атом вуглецю має 4 зв'язків (або С-С, або С-Н), і кожен атом водню
                приєднується до одного з атомів вуглецю (тобто в С-Н-зв'язку). Найбільш довга серія
                пов'язаних атомів вуглецю в молекулі відома як її вуглецевий скелет або вуглецевий
                магістр. Кількість атомів вуглецю може розглядатися як розмір алкану. Алкани складають
                значну частину вуглеводнів нафт і природних горючих газів. Із нафти і горючих газів
                виділено всі алкани нормальної будови, від метану до тритриаконтану (С33Н68) включно.
                Одна група вищих алканів являє собою віск, тверді речовини при стандартних температурах
                та тиску середовища (SATP), для яких кількість вуглецю у вуглецевому магістралі перевищує
                приблизно 17. Оскільки алкани містять максимально можливу кількість водню в молекулі,
                то вони характеризуються найбільшою масовою теплотою згоряння (енергоємністю), а з ростом
                кількості атомів масова теплота згоряння алканів зменшується (в метану 50207 кДж/кг).
                Внаслідок низької густини об'ємна теплота згоряння алканів менша, ніж вуглеводнів іншої
                будови з такою ж кількістю вуглецевих атомів у молекулі. За агрегатним складом алкани
                діляться на газоподібні (С1-С4), рідкі (С5-С17) і тверді (починаючи з С18), що кристалізуються
                при 200 °C.</p>
          </div>
      </div>
      <img class="pre-rounded col-lg-4 offset-lg-0 p-0 overflow-hidden shadow-lg center-img" src="{% static 'main/media/alkan3.jpg' %}" height = 450px width = 450px >
    </div>

    <hr class="featurette-divider">

</div>
{% endblock %}